<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css"/>
    <title>PayJS demo</title>
</head>
<body>
<h1 class="page__title">PayJS demo</h1>
<div style="padding-top: 50px">
    <form method="post" action="https://payjs.cn/api/cashier">
        <input type="text" name="mchid"  th:value="${mchid}" /><br/>
        <input type="text" name="total_fee" th:value="${total_fee}" /><br/>
        <input type="text" name="out_trade_no" th:value="${out_trade_no}" /><br/>
        <input type="text" name="body" th:value="${body}" /><br/>
        <input type="text" name="notify_url" th:value="${notify_url}" /><br/>
        <input type="text" name="callback_url" th:value="${callback_url}" /><br/>
        <input type="text" name="sign" th:value="${sign}" /><br/>
        <div><p>GoGoGo</p></div><br/>
        <div class="weui-btn-area">
            <input class="weui-btn weui-btn_primary" type="submit" value="去支付"/>
        </div>
        <div>
            <p>注意：</p>
            <p>1.此页面可在实际开发中将手动去支付修改为自动请求跳转，用户应对此页面无感知</p>
            <p>2.收银台支付需在微信里打开才能进行测试</p>
        </div>
    </form>
</div>

</body>
</html>